body{
    background-color: #f2f2f2;
    font-size: 19px;
    font-family: fantasy,sans-serif;
    padding: 10%;
    overflow: hidden;
    background-attachment: scroll;

}

section.layout{
    background-color: #35424a;\
    border-bottom: 9px solid #00b7ef;
    text-align: center;
    width: 50%;
    padding-top:200px;
    padding-bottom: 200px;
     padding-left: 100px;
     padding-right: 100px;
    margin: auto;
    margin-top:-100px;
    overflow: hidden;
    border: 5px solid #00b7ef;
}
button.button1{
    
     background: #00b7ef ;
    border:0;
    color: #ffffff;
    height: 35px;
    padding-left:20px;
    padding-right: 20px;
    
}
button.button1:hover{
    color:#cccccc;
}
h1{ color: #00b7ef;
    font-weight:900;
text-transform: uppercase;
}
h1:hover{
    color: #CC6666;
}
input[type="text"] {
  padding: 4px;
    height: 25px;
    width: 180px
    
}
#console{
    color: #00CC33;
   
}